.formContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #673ab7; /* Deep purple background */
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.inputField,
.selectField,
.dateTimeField,
.emergencyStatusSelect {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px; /* Ensure spacing between elements */
    font-size: 16px;
}

.inputField,
.dateTimeField {
    background-color: #f3e5f5; /* Lighter purple for contrast against the container */
}

.selectField,
.emergencyStatusSelect {
    background-color: #e1bee7; /* Slightly darker purple for dropdowns for a subtle differentiation */
    color: #4a148c; /* Dark purple text for better readability */
}

.emergencyStatusContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.submitButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #e1bee7; /* Vibrant purple for the submit button */
    color: #4a148c;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background-color 0.3s;
}

.submitButton:hover {
    background-color: #ab47bc; /* Lighter purple on hover for visual feedback */
}

/* Additional style to align label and select inline for emergency status */
.emergencyStatusContainer strong {
    color: white; /* Ensure the label is easily readable against the dark background */
}
